:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --master-leter-spacing: 0.03em;
  --basic-content-indentation: 30px;
  --accent-color: #2196f3;
  --master-text-color: #757575;
  --master-title-color: #212121;
  --secondary-text-color: #ffffff;
  --transformation-time: 250ms;
  --time-allocation-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: var(--master-leter-spacing);
  color: var(--master-title-color);
}

.hero {
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mobile/bg-main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mobile/bg-main@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tablet/bg-main.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tablet/bg-main@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/deckstope/bg-main.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/deckstope/bg-main@2x.jpg);
  }
}

.hero__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin: 0 auto 30px;
  max-width: 360px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__button {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transformation-time) var(--time-allocation-function), box-shadow var(--transformation-time) var(--time-allocation-function);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 768px) {
  .company-features__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: stretch;
    margin-left: calc(-1 * var(--basic-content-indentation));
  }
}

@media screen and (min-width: 768px) {
  .company-features__item {
    margin-left: 30px;
    flex-basis: calc((100% / 2) - var(--basic-content-indentation));
  }
}

@media screen and (min-width: 1200px) {
  .company-features__item {
    margin-left: 30px;
    flex-basis: calc((100% / 4) - var(--basic-content-indentation));
  }
}

@media screen and (max-width: 1199px) {
  .company-features__item:not(:last-child) {
    margin-bottom: var(--basic-content-indentation);
  }
}

.company-features__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--basic-content-indentation);
  height: 120px;
  border: none;
  border-radius: 4px;
  background: #f5f4fa;
}

.company-features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--master-leter-spacing);
  text-transform: uppercase;
  color: var(--master-title-color);
}

@media screen and (max-width: 767px) {
  .company-features__title {
    text-align: center;
  }
}

.company-features__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: var(--master-leter-spacing);
  color: var(--master-text-color);
}
/*# sourceMappingURL=main.css.map */