.company-features {
  &__list {
    @media screen and (min-width: 768px) {
      @include flex-center();
      align-items: stretch;
      margin-left: calc(-1 * var(--basic-content-indentation));
    }
  }

  &__item {
    @media screen and (min-width: 768px) {
      margin-left: 30px;
      flex-basis: calc((100% / 2) - var(--basic-content-indentation));
    }
    @media screen and (min-width: 1200px) {
      margin-left: 30px;
      flex-basis: calc((100% / 4) - var(--basic-content-indentation));
    }
  }
  &__item:not(:last-child) {
    @media screen and (max-width: 1199px) {
      margin-bottom: var(--basic-content-indentation);
    }
  }
  &__wrapper {
    @include flex-center();
    margin-bottom: var(--basic-content-indentation);
    height: 120px;
    border: none;
    border-radius: 4px;
    background: #f5f4fa;
  }
  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--master-leter-spacing);
    text-transform: uppercase;
    color: var(--master-title-color);
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
  &__description {
    @include font(14px, 400, 24px);
    letter-spacing: var(--master-leter-spacing);
    color: var(--master-text-color);
  }
}
