.contact {
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    @include flex-center();
  }

  &__item {
    @media screen and (min-width: 1200px) {
      @include flex-center();
    }
  }
  &__item:first-child {
    @media screen and (max-width: 768px) {
      margin-bottom: 10px;
    }
  }
  &__item:not(:first-child) {
    @media screen and (min-width: 1200px) {
      margin-left: 30px;
    }
  }

  &__icons {
    @media screen and (min-width: 768px) {
      margin-right: 8px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 10px;
    }
  }
}

.contact__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--master-text-color);
  fill: var(--master-text-color);
  transition: color var(--transformation-time), var(--time-allocation-function);
  @media screen and (max-width: 768px) {
    padding: 0px;
    @include flex-center($jc: start);
  }
  @media screen and (min-width: 1200px) {
    @include flex-center();
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}
