.header {
  border-bottom: 1px solid #ececec;

  &__container {
    @include flex-center();
  }
}
.navigation {
  @include flex-center();

  &__menu {
    @include flex-center();
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  &__item:not(:first-child) {
    margin-left: 50px;
  }

  &__item:first-child {
    margin-left: 93px;
  }
}

.navigation__link {
  @include flex-center();
  color: var(--master-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transformation-time) var(--time-allocation-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current {
  position: relative;
  color: var(--accent-color);

  &::after {
    position: absolute;
    display: block;
    bottom: -1px;
    left: 0px;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
