.header {
  border-bottom: 1px solid #ececec;

  &__container {
    @include flex-center();
    @media screen and (max-width: 767px) {
      justify-content: space-between;
    }
    @media screen and (min-width: 768px) {
      justify-content: center;
    }
  }
}
.navigation {
  @media screen and (min-width: 768px) {
    @include flex-center();
  }

  &__menu {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      @include flex-center();
      margin-left: 88px;
    }
    @media screen and (min-width: 1200px) {
      @include flex-center();
      margin-left: 93px;
    }
  }

  &__item:not(:first-child) {
    @media screen and (min-width: 768px) {
      margin-left: 50px;
    }
  }

  // &__item:first-child {
  //   @media screen and (min-width: 1200px) {
  //     margin-left: 93px;
  //   }
  // }
}

.navigation__link {
  color: var(--master-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transformation-time) var(--time-allocation-function);
  @media screen and (min-width: 768px) {
    @include flex-center();
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current {
  position: relative;
  color: var(--accent-color);

  &::after {
    position: absolute;
    display: block;
    bottom: -1px;
    left: 0px;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
.burger-button {
  display: block;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  padding: 0;
  transition: fill var(--transformation-time) var(--time-allocation-function);

  &__icon {
    width: 40px;
    height: 40px;

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
