.team {
  background-color: #f5f4fa;
  &__list {
    @media screen and (min-width: 768px), (min-width: 1200px) {
      @include flex-center();
      margin-left: calc(-1 * var(--basic-content-indentation));
    }
  }
  &__item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: var(--basic-content-indentation);
      }
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: var(--basic-content-indentation);
      margin-left: var(--basic-content-indentation);
      flex-basis: calc(100% / 2 - var(--basic-content-indentation));
    }
    @media screen and (min-width: 1200px) {
      margin-left: var(--basic-content-indentation);
      flex-basis: calc(100% / 4 - var(--basic-content-indentation));
    }
  }
  &__card {
    padding-top: 30px;
    padding-bottom: 24px;
    text-align: center;
    background-color: var(--secondary-text-color);
  }

  &__title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: var(--master-leter-spacing);
    color: var(--master-title-color);
  }
  &__profession {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: var(--master-leter-spacing);
    color: var(--master-text-color);
  }
}
