.team {
  background-color: #f5f4fa;
  &__list {
    @include flex-center();
    margin-left: calc(-1 * var(--basic-content-indentation));
  }
  &__item {
    margin-left: var(--basic-content-indentation);
    flex-basis: calc(100% / 4 - var(--basic-content-indentation));
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  &__card {
    padding-top: var(--basic-content-indentation);
    padding-bottom: var(--basic-content-indentation);
    padding-left: 32px;
    padding-right: 32px;
    width: 270px;
    text-align: center;
    background-color: var(--secondary-text-color);
  }

  &__title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: var(--master-leter-spacing);
    color: var(--master-title-color);
  }
  &__profession {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: var(--master-leter-spacing);
    color: var(--master-text-color);
  }
}
