.section-title {
  @include font(28px, 700, 33px);
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: var(--master-leter-spacing);
  color: var(--master-title-color);

  @media screen and (min-width: 1200px) {
    @include font(36px, 700, 42px);
    margin-bottom: 50px;
  }
}
