.modal-form {
  padding: 40px;

  &__head {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: var(--master-leter-spacing);
    color: #212121;
  }
  &__field {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
  }
  &__wraper {
    display: block;
    position: relative;
  }
}

.modal-form__data-input {
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;

  outline: none;
  cursor: pointer;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color var(--transformation-time)
      var(--time-allocation-function),
    fill var(--transformation-time) var(--time-allocation-function);
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-form__icon {
  position: absolute;
  bottom: 50%;
  left: 15px;
  transform: translateY(50%);
  .modal-form__data-input:focus + & {
    fill: var(--accent-color);
  }
}
.modal-form__message {
  padding: 12px 16px;
  outline: none;
  margin-top: 4px;
  margin-bottom: 10px;
  display: block;
  resize: none;
  width: 100%;

  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #212121;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transformation-time)
    var(--time-allocation-function);
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-form__button {
  display: block;
  padding: 10px 55px;
  margin: 0 auto;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  transition: background-color var(--transformation-time)
      var(--time-allocation-function),
    box-shadow var(--transformation-time) var(--time-allocation-function);

  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
