:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --master-leter-spacing: 0.03em;
  --basic-content-indentation: 30px;
  --accent-color: #2196f3;
  --master-text-color: #757575;
  --master-title-color: #212121;
  --secondary-text-color: #ffffff;
  --transformation-time: 250ms;
  --time-allocation-function: cubic-bezier(0.4, 0, 0.2, 1);
}